body {
    background-color:cornflowerblue;
}

#content {
    margin: auto;
    width: 50%;
    background-color: #fff;
    border: 5px solid black;
    border-radius: 10px
}

#content h1 {
    text-align: center;
}

#content h2 {
    text-align: center;
}

#content p {
    padding: 15px;
}